<h1>Game Over!!!!</h1>
<h2>Health:  <%= $health_pt %> Hunger: <%= $feed_pt %> Happy: <%= $happiness_pt %> Submission: <%= $discipline_pt %>  Toilet: <%= $walk %> </h2>
<div class="row">
 <div> 
	<a href="/change_pet">Новая Игра</a>
 </div>
</div>
